.home-intro{
	height: 550px;
	color: white;
	padding-top: 35px;
}

.home-intro-content{
	font-size: 1.3em;
}

.home-hamburger-menu{
	margin-right: 15px;
}

.home-brand-logo{
	margin-left: 10px;
}
